<% flash.each do |name, message| %>
  <% if message.present? %>
    <% alert_class = name.to_s == 'alert' ? "danger" : "success" %>
    <%= content_tag :div, class: "alert alert-#{alert_class}" do %>
      <div class="container">
        <a class="close" data-dismiss="alert"> ×</a>
        <%= content_tag :div, message, id: "flash_#{name}" if message.is_a?(String) %>
      </div>
    <% end %>
  <% end %>
<% end %>
