<% if user_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link nav-link-icon" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-cog"></i>
      <span class="nav-link-inner--text d-lg-none">Settings</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1">
      <div class="dropdown-item"><%= current_user.name %></div>
      <%= link_to "My Account", profile_path, class: "dropdown-item" %>
      <% if current_user.admin? %>
        <%= link_to "Admin", admin_root_path, class: "dropdown-item" %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
    </div>
  </li>
<% end %>
