<table cellspacing="0" cellpadding="0" width="600" class="w320">
  <tr>
    <td class="header-lg">
      New contact message!
    </td>
  </tr>
  <tr>
    <td class="free-text">
      Name: <%= @contact.name %>
    </td>
  </tr>
  <tr>
    <td class="free-text">
      Email: <%= @contact.email%>
    </td>
  </tr>
  <tr>
    <td class="free-text">
      Message: <%= @contact.message%>
    </td>
  </tr>
</table>
